 
.headerbg
{
  background-image: url(./header.jpg);
  background-position: center center;
  background-size: cover;
  padding: 60px;
  width: 100%;
 
}

.heading{
  font-weight: 700;
}
label{
  font-weight: 700;
}

.cursor
{
  cursor:pointer
}
  
 